	/* HEADER */
header img {
	float: right;
	z-index: 2;
}

#question {
	max-width: 25px;
	margin: 8px 6px;
}

#logo {
	max-width: 200px;
	margin: 70px;
}

	/* BODY */

body img {
	max-width: 200px;
	margin: 30px;
}
