header, footer {
  display: none;
}

.container {
  display: flex;
  width: 100vw;
  padding: 20px;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 150px;
}
