.container {
  display: flex;
  width: 60vw;
  margin: auto;
  padding: 20px;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  max-width: 200px;
  flex-basis: 100px;
  flex-grow: 2;
}
