/*HEADER */

.header-container {
  position: fixed;
  width: 100%;
  top: 0px;
}

.question {
  width: 25px;
  float: right;
  margin: 5px 5px 0 0;
}

.logo {
  width: 150px;
  float: right;
  margin: 60px 5px 0 0;
}

/* BODY */

main {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 250px auto 0;
  align-items: center;
}

.post {
  width: 200px;
  flex-grow: 2;
  margin-bottom: 50px;
}

/*FOOTER*/

.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.hey {
  width: 60px;
  margin: 0 0 0 5px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 500px) {
  .logo {
    width: 180px;
  }
  .post {
    padding: 20px;
  }
}


@media screen and (min-width: 800px) {
  main {
    width: 800px;
    margin: 250px auto 0;
  }

  header, footer {
    position: relative;
    width: 800px;
    margin: 0px auto;
  }
}
