//TESTING
// * {
//   border: 1px dashed green;
// }

//HEADER

.header-container {
  position: fixed;
  width: 100%;
  top: 0px;
  .question {
    width: 25px;
    float: right;
    margin: 5px 5px 0 0;
  }
  .logo {
    width: 150px;
    float: right;
    margin: 80px 5px 0 0;
    @media screen and (min-width: 500px) {
      width: 180px;
      margin: 80px 60px 0 0;
    }
  }
}


//MAIN

main {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 250px auto 0;
  align-items: center;
  @media screen and (min-width: 800px) {
    width: 800px;
    margin: 250px auto 0;
  }
}

//FOOTER

.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  .hey {
    width: 60px;
    margin: 0 0 0 5px;
  }
}

// MEGA MEDIA QUERY

header, footer {
  @media screen and (min-width: 800px) {
    position: relative;
    width: 800px;
    margin: 0px auto;
  }
}
