//TESTING
// * {
//   border: 1px dashed green;
// }

//HEADER

.header-container {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  background: #FBFBFB;
  header {
    color: #292F36;
    margin-top: 30px;
    &>* {
      margin: 0px;
    }
    h1 {
      font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
      text-transform: uppercase;
      font-weight: normal;
    }
    h2 {
      @extend h1;
    }
    h3 {
      font-family: 'Georgia', serif;
      font-style: italic;
      font-weight: normal;
      margin: 2px 0;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 20px;
    svg {
      fill: #292F36;
      width: 30px;
      height: 30px;
      margin: 10px;
      &:hover, &:active {
        fill: #FF4747;
      }
    }
  }
}


//MAIN

body {
  background: #FBFBFB;
}

main {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 250px auto 0;
  align-items: center;
  @media screen and (min-width: 800px) {
    width: 800px;
    margin: 250px auto 0;
  }
  .text {
    width: 100%;
    margin: 0 20px 20px;
    h1 {
      font-size: 1rem;
    }
    a:visited {
      color: blue; //why isnt this working?
    }
  }
}

//FOOTER

.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  .hey {
    width: 60px;
    margin: 0 0 0 5px;
  }
}

// MEGA MEDIA QUERY
