@import '_globals';

.detail-1 {
  width: 250px;
  margin-bottom: 50px;
  @media screen and (min-width: 450px) {
    width: 90%;
  }
}

.detail-2 {
  width: 250px;
  margin-bottom: 50px;
  @media screen and (min-width: 800px) {
    width: 350px;
    padding: 20px;
  }
}

.detail-3 {
  width: 180px;
  margin-bottom: 50px;
  @media screen and (min-width: 800px) {
    width: 225px;
  }
}
